*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pageNumberSection{
    background: #fafafa;
    padding: 25px;

    .pageNumber{

        span{
            border: 1px solid #B7B7B7;
            border-radius: 3px;
            padding: 5px 10px;
            cursor: pointer;
            background-color: #fff;
    
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }
}