* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorWhite: #fff;
  --bgColor: #e17e7e;
}
.pageNumberSection {
  background: #fafafa;
  padding: 25px;

  .pageNumber {
    display: flex;
    justify-content: center;
    span {
      border: 1px solid #b7b7b7;
      border-radius: 3px;
      padding: 5px 10px;
      cursor: pointer;
      background-color: var(--colorWhite);
      transition: 0.1s ease-in;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:not(.active):hover {
        background-color: var(--bgColor);
        color: var(--colorWhite);
        transition: 0.1s ease-in;
      }
    }

    .active {
      background-color: var(--bgColor);
      color: var(--colorWhite);
    }
  }
}
